 html{
    height: 100%;
}
body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
.Hero-section {
    background: url("images/1632298189040.jpg") no-repeat;
    background-color: #576868;
    background-position: center;
    background-size: 600px 1000px;
    height: 1000px;
    position: relative; 
}

nav {
    background-color: #6b9797;
    z-index: 2;
    height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
    
}

ul {
    display: flex;
    margin: 0px;
    padding: 15px;
    float: right;
    
}
ul li {
    list-style-type: none;
    margin-right: 25px;
}   
ul li a {
    text-decoration: none;
    color: #fffd
}
h2 {
    position: absolute;
    top: 25%;
    left: 35%;
    
}
.about-me {
    text-decoration: none;
    color: white;
    background-color: #6b9797;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 35%;
    left: 35%;
    display: flex;
    justify-content: center;
}
.About-section {
    display: flex;
    justify-content: space-evenly;
    
    
}
.About-me-right {
    display: flex;
    background-color: #F5F5F5;
    text-align: center;
    

}
.About-me-left {
    background-color: #6b9797;
    color: honeydew;
    text-align: center;
}
.video-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(252, 193, 193);
}    
.imagesblock {
display: flex;
justify-content: space-evenly;

}
#Python {
    width: 20%;
}
#CSS {
    width: 20%;
}
#Git {
    width: 20%;
}
#HTML {
    width: 20%;
}
#Javascript {
    width: 20%;
}
#SQL {
    width: 20%;
}
.Projects {
    text-align: center;
    background-color: #cdd6d6;
    
}
.Quote {
    margin: 0;
    color: black;
    font-size: 2rem;
}
.contacts {
    display: flex;
    justify-content: space-evenly;
}
form {
    width: 100%;
    background-color: #6b9797;
    color: white;
    padding: 3em;
}
.email-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.message-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
 /* ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0%;
    padding: 0%;
    width: 25%;
    background-color: rgba(107, 235, 228, 0.993);
    position: fixed;
    height: inherit;
    position: absolute;
    overflow: auto;
}
li a {
    display: inline-flex;
    color: green;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: honeydew;
    color: lightseagreen;
}

li a:hover:not(.active) {
    background-color: #555;
    color: lightyellow;
} */

/* .container {
    margin-left: auto;
    margin-left: auto;
    width: 1024;
}
header {
    background-color: #818080;  */
    /* height: 110px;
    width: 1024px;
    text-align: center;

}



main {
    /* background-color: #4e4e4e; */

    /* background-color: #f5f5f5; */
    /* height: 100px;
    width: 1024px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024;
}
.container {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin:  6px 0;
    transition: 0.5s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg)
     translate(-9px, 6px);
    transform: rotate(-45deg)
    translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg)
     translate(-8px, -8px);
    transform: rotate(45deg)
    translate(-8px, -8px);
}  