html{
    height: 100%;
}
body {
    background-color:rgb(250, 230, 255);
    background-image: url(images/1632298189040.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-left: auto;
    width: 1024;
}
header {
    background-color: #fdfdfd;
    height: 110px;
    width: 1024px;
    text-align: center;

}

nav {
    background-color: #d3f3fa;
    height: 40px;
    width: 1024px;
}

main {
    background-color: rgb(132, 213, 238);
    height: 400px;
    width: 1024px;
}
footer {
    background-color: #f5f5f5;
    height: 100px;
    width: 1024px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024;
}