body {
    background-color:lavender;
}

.container {
    margin-left: auto;
    margin-left: auto;
    width: 1024;
}
header {
    background-color: #92ebff;
    height: 110px;
    width: 1024px;

}

nav {
    background-color: rgba(104, 192, 250, 0.801);
    height: 40px;
    width: 1024px;
}

main {
    background-color: #388087;
    height: 400px;
    width: 1024px;
}
footer {
    background-color: #f381b6;
    height: 100px;
    width: 1024px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024;
}